.contact-form {
  // max-width: 400px;
  .contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: calc(var(--gap) * 2);
    row-gap: var(--gap);
  }
  input,
  textarea {
    width: auto;
    margin-bottom: 1rem;
  }
  label {
    margin-bottom: 0.5rem;
  }
  fieldset {
    display: flex;
    flex-direction: column;
  }
  .form-services {
    position: relative;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 1rem 0 2rem 0;
    &_radio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      margin: 0 -10px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact-form {
    .contact-grid {
      grid-template-columns: 1fr;
    }
  }
}
