.hero-section {
  padding: calc(var(--section-space) * 2.5) 0;
  text-align: center;
  margin: 0 auto;
  position: relative;
  .wrapper {
    margin: auto;
  }
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: url("../images/endless-clouds.svg");
    background-size: 50px;
    width: 100%;
    height: 100%;
    z-index: -1;
    &:after {
      content: "";
      background: -o-linear-gradient(bottom, #fff 0, rgba(255, 255, 255, 0) 100%);
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 100%);
      display: block;
      position: absolute;
      height: 60%;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}

.hero-title {
  font-weight: 900;
  font-size: calc(var(--h1-font-size) + 0.5rem);
  margin-bottom: 0;
  span {
    transform-origin: bottom right;
    display: inline-block;
    animation: 1s helloHand 0s ease infinite alternate;
  }
  // opacity: 0;
  // -webkit-transform: translate3d(30%, 0, 0);
  // transform: translate3d(30%, 0, 0);
  // -webkit-animation: fadeInRight 0.7s ease;
  // animation: fadeInRight 0.7s ease;
  // -webkit-animation-delay: 0.7s;
  // animation-delay: 0.7s;
  // -webkit-animation-fill-mode: both;
  // animation-fill-mode: both;
}
@keyframes helloHand {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg) translate3d(0, -7px, 0);
  }

  100% {
    transform: rotate(-10deg);
  }
}
.hero-description {
  font-size: 1.24em;
  font-weight: 300;
  max-width: 54ch;
  margin: 0 auto;
  b {
    font-weight: 400;
  }
  // opacity: 0;
  // -webkit-transform: translate3d(-30%, 0, 0);
  // transform: translate3d(-30%, 0, 0);
  // -webkit-animation: fadeInLeft 0.7s ease;
  // animation: fadeInLeft 0.7s ease;
  // -webkit-animation-delay: 0.7s;
  // animation-delay: 0.7s;
  // -webkit-animation-fill-mode: both;
  // animation-fill-mode: both;
}

@media only screen and (max-width: 768px) {
  .hero-title {
    font-size: var(--h1-font-size);
  }
  .hero-description {
    font-size: 1em;
  }
}
