/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  :root {
    --wrapper: 730px;
    --gap: 15px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --h1-font-size: 2.3em;
    --h2-font-size: 1.7em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.21em;
    --h5-font-size: 1.13em;
    --h6-font-size: 1em;
  }
}

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  :root {
    --wrapper: 520px;
    // sizes
    --section-space: 50px;
  }
  body {
    font-size: 100%;
  }
}

@media only screen and (max-width: 576px) {
  :root {
    --h1-font-size: 1.9rem;
    --h5-font-size: 1rem;
    --h6-font-size: 1rem;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .modal-form {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    font-size: 30px;
  }
}

@media only screen and (max-width: 340px) {
  body {
    font-size: 14px;
  }
  :root {
    --h1-font-size: 1.6rem;
  }
}
