.project {
  &-intro {
    position: relative;
  }
  &-info {
    padding: 40px;
    margin-top: 0;
    background-color: #fff;
    border-radius: 15px;
    width: calc(100% + 80px);
    margin-left: -40px;
    animation: 0.7s toTopBlock 0s cubic-bezier(0.2, 0, 0.2, 1) both;
    & > *:nth-child(1) {
      margin-top: 0;
    }
  }
  &-bg {
    position: relative;
    width: 100%;
    height: 56vw;
    max-height: 500px;
    top: 0;
    left: 0;
    &:before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    }
  }
}

@keyframes toTopBlock {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -90px;
  }
}

@media only screen and (max-width: 576px) {
  .project {
    &-info {
      padding: 20px 0;
      margin-top: 0;
      background-color: #fff;
      border-radius: 15px;
      width: 100%;
      margin-left: 0;
      animation: none;
    }
  }
}
