.post-info {
  padding: 20px 0;
  &_item:not(:last-child) {
    margin-bottom: 2rem;
  }
  &_tags {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px -13px;
    a {
      padding: 5px 13px;
    }
  }
}
