.project-list {
  padding: calc(var(--gap) * 1.5) 0;
  padding-bottom: calc(var(--section-space) / 1.2);
  &_header {
    color: var(--indigo-light);
  }
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: var(--gap);
    column-gap: var(--gap);
    row-gap: var(--gap);
  }
  &_item {
    position: relative;
    height: 100%;
    display: block;
    border-radius: var(--border-radius);
    overflow: hidden;
    text-decoration: none;
    background-color: #fff;
    box-shadow: var(--shadow-lg);
    display: flex;
    flex-direction: column;
    transition: var(--transition);
    &:hover {
      transform: translate3d(0px, -8px, 0px);
      box-shadow: var(--shadow-xl);
      color: var(--black);
      .project-list_title {
        color: var(--azure);
      }
    }
  }
  &_tag-list {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    padding: 10px;
    font-size: 0.65em;
    line-height: 1;
    font-family: var(--additional-font);
    font-weight: 300;
    span {
      display: inline-block;
      margin: 0 4px;
      padding: 7px 10px;
      background-color: var(--azure);
      color: #ffffff;
      border-radius: 13px;
      transition: 0.5s ease;
      &.azure-light {
        background-color: var(--azure-light);
      }
      &.indigo-light {
        background-color: var(--indigo-light);
      }
      &.pink-light {
        background-color: var(--pink-light);
      }
      // &.blue-light {
      //   background-color: var(--blue-light);
      // }
      &.green-light {
        background-color: var(--green-light);
      }
      // &."azure-light", "indigo-light", "pink-light", "blue-light"
    }
  }
  &_image {
    width: 100%;
    padding-bottom: 53%;
    img {
      position: absolute !important;
      -o-object-position: center;
      object-position: center;
    }
  }
  &_info {
    padding: 15px;
  }
  &_title {
    transition: var(--transition);
    margin: 0;
  }
  &_text {
    color: var(--text-v1);
    font-size: 0.9em;
    margin-bottom: 0;
    line-height: 1.3;
  }
}
@media only screen and (max-width: 768px) {
  .project-list {
    .list {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
}
