.page-intro {
  padding: calc(var(--section-space) / 2) 0;
  &_text {
    max-width: 65ch;
    font-weight: 400;
    font-family: var(--additional-font);
  }
}
.project_link {
  color: var(--black);
  svg {
    fill: currentcolor;
    transition: var(--transition);
    margin-left: 0.5rem;
    height: 0.85rem;
    width: 0.85rem;
  }

  &:hover {
    svg {
      fill: var(--primary);
    }
  }
}
