.projects-list-container {
  .list {
    grid-template-columns: repeat(2, 1fr);
    &-item {
      background: #fff;
      &:hover {
        .list-item_title {
          color: var(--azure);
        }
      }
    }
  }
  .list-item {
    &_image {
      width: 100%;
      padding-bottom: 53%;
      picture {
        width: 100%;
        height: 100%;
        position: absolute !important;
      }
      img {
        position: absolute !important;
        -o-object-position: center;
        object-position: center;
      }
    }
    &_info {
      padding: 15px;
    }
    &_title {
      transition: var(--transition);
      margin: 0;
    }
    &_text {
      color: var(--text-v1);
      font-size: 0.9em;
      margin-bottom: 0;
      line-height: 1.3;
    }
  }
}

@media only screen and (max-width: 768px) {
  .projects-list-container {
    .list {
      grid-template-columns: 1fr;
      row-gap: 30px;
    }
  }
}
