.section-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1em;
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-right: 30px;
  }
  a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--text-v1);
    svg {
      display: block;
      width: 22px;
      height: auto;
      margin-left: 10px;
      transition: inherit;
    }
    &:hover {
      text-decoration: underline;
      svg {
        transform: translateX(5px);
      }
    }
  }
}
