@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"); */
@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Rubik/Rubik-Regular.eot");
  src: url("../fonts/Rubik/Rubik-Regular.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Rubik/Rubik-Bold.eot");
  src: url("../fonts/Rubik/Rubik-Bold.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Rubik";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Rubik/Rubik-Black.eot");
  src: url("../fonts/Rubik/Rubik-Black.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/SourceCodePro/SourceCodePro-Light.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Light.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype"); }

@font-face {
  font-display: swap;
  font-family: "Source Code Pro";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.eot");
  src: url("../fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("truetype"); }

:root {
    --header-height: 60px;
    --primary: #1574f6;
    --secondary: #237bf5;
}

/*=====================================================================
Стили сброса
===================================================================== **/
textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="search"] {
    -webkit-appearance: none;
    border-radius: 0;
    outline: none;
}

input[type="button"]:focus {
    outline: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Стили сброса для айфонов конец */
/* Стили сбросса начало*/
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    padding: 0;
}

input::-moz-placeholder {
    padding: 0;
}

input:-ms-input-placeholder {
    padding: 0;
}

input::-ms-input-placeholder {
    padding: 0;
}

input::placeholder {
    padding: 0;
}

input {
    outline: none;
}

/* сброс кнопки очистки в инпутах в експлорере */
input::-ms-clear {
    display: none;
}

a {
    text-decoration: none;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
    color: #333;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: none;
    color: var(--primary);
}


textarea {
    resize: none;
    outline: none;
}


html {
    background-color: #ffffff;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    /* фикс скролла при overflow-y: hidden; на айфонах*/
    -webkit-overflow-scrolling: touch;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    font-size: 16px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    min-width: 320px;
    position: relative;
}

/* Стили сбросса конец*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.page_container {
    padding-top: var(--header-height);
    overflow: hidden;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

/* body flex */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
body .page_container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
body .footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

/*=====================================================================

   Table of content:
   a. Common styles.
   b. Header styles.
   c. Hero section.
   d. About section.
   e. Portfolio section.
   f. Modal window.
   g. Contact form.
   h. Portfolio styles.
   i. Footer styles.
   j. Scroll up btn styles.
   k. Project page styles.
   l. 
   m. 

===================================================================== */
/* ------------------------------------------------------------------ */
/* e. Portfolio section.
/* ------------------------------------------------------------------ */
.swiper-container {
    overflow: visible;
}

.portfolio-section {
    /* не работало из-за body: flex; нужно каждому flex-елементу
  давать flex-shrink: 0; */
    overflow: hidden;
}

.portfolio-item-title a {
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.portfolio-item-slider {
    margin-bottom: 20px;
}
.portfolio-item-slider .slider-item {
    display: block;
    position: relative;
    padding-bottom: 50%;
}
.portfolio-item-slider .slider-item img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

/* navigation */
.swiper-navigation {
    width: 100%;
}
.swiper-navigation div[role="button"] {
    width: calc((100vw - 1140px) / 2);
    height: 100%;
}
.swiper-navigation div[role="button"]:after {
    display: none;
}
.swiper-navigation div[role="button"].swiper-button-disabled {
    display: none;
}
.swiper-navigation .swiper-button-next,
.swiper-navigation .swiper-button-prev {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.swiper-navigation .swiper-button-next svg,
.swiper-navigation .swiper-button-prev svg {
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
    fill: rgba(255, 255, 255, 0.5);
    display: block;
    width: 40px;
}
.swiper-navigation .swiper-button-next:hover,
.swiper-navigation .swiper-button-next:focus,
.swiper-navigation .swiper-button-prev:hover,
.swiper-navigation .swiper-button-prev:focus {
    color: #ffffff;
}
.swiper-navigation .swiper-button-next:hover svg,
.swiper-navigation .swiper-button-next:focus svg,
.swiper-navigation .swiper-button-prev:hover svg,
.swiper-navigation .swiper-button-prev:focus svg {
    fill: #ffffff;
}
.swiper-navigation .swiper-button-next {
    position: absolute;
    right: auto;
    left: 100%;
    top: 0;
}
.swiper-navigation .swiper-button-prev {
    position: absolute;
    right: 100%;
    top: 0;
    left: auto;
}
.swiper-navigation .swiper-button-prev svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* prev/next buttons */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.5);
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-prev:focus {
    color: #ffffff;
}

.owl-carousel .owl-stage-outer {
    overflow: visible;
}

/* pagination */
.swiper-pagination {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8px 0 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.swiper-pagination .swiper-pagination-bullet {
    opacity: 0.8;
    width: 24px;
    height: 5px;
    margin-right: 8px;
    display: block;
    border-radius: 8px;
    -webkit-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    -o-transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    transition: all 0.4s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    outline: 0;
    background-color: #ecedef;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 48px;
    background-color: #1574f6;
}

/* ------------------------------------------------------------------ */
/* f. Modal window.
/* ------------------------------------------------------------------ */
.modal-wrap {
    visibility: hidden;
    position: fixed;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0;
    display: block;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1004;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.modal-form {
    position: relative;
    top: 10px;
    -webkit-transition: top 0.4s ease;
    -o-transition: top 0.4s ease;
    transition: top 0.4s ease;
    position: relative;
    z-index: 1005;
    overflow-y: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    -webkit-overflow-scrolling: touch;
}

/* .modal-active {
    overflow: hidden;
} */
.modal-open.modal-wrap {
    visibility: visible;
    opacity: 1;
}
.modal-open.modal-form {
    top: 0;
}

.modal-close-btn {
    cursor: pointer;
    border: none;
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 1007;
    top: 30px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    background-color: #e3effe;
    border-radius: 8px;
}
.modal-close-btn:active {
    background-color: #d9e9fe;
}
.modal-close-btn .menu-toggle-icon span,
.modal-close-btn .menu-toggle-icon span:before,
.modal-close-btn .menu-toggle-icon span:after {
    content: "";
    position: relative;
    display: block;
    width: 18px;
    height: 3px;
    -webkit-transition: all 0.12s;
    -o-transition: all 0.12s;
    transition: all 0.12s;
    background: #1574f6;
    border-radius: 4px;
}
.modal-close-btn .menu-toggle-icon span:before {
    position: absolute;
    top: -6px;
}
.modal-close-btn .menu-toggle-icon span:after {
    position: absolute;
    bottom: -6px;
}

.modal-close-btn .menu-toggle-icon span {
    background-color: transparent;
}
.modal-close-btn .menu-toggle-icon span:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
}
.modal-close-btn .menu-toggle-icon span:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
}

/* ------------------------------------------------------------------ */
/* g. Contact form.
/* ------------------------------------------------------------------ */
.contact-form-wrap {
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}
.contact-form-wrap .write-me-btn {
    border-radius: 40px;
}
.contact-form-wrap .title {
    font-size: 30px;
}
.contact-form-wrap .subtitle {
    font-size: 18px;
    font-style: normal;
}
.contact-form-wrap .subtitle a {
    font-weight: 700;
    text-decoration: underline;
}
.contact-form-wrap .input-group {
    padding-top: 8px;
    margin-bottom: 24px;
    text-align: left;
}
.contact-form-wrap .input-group input,
.contact-form-wrap .input-group textarea {
    width: 100%;
    background-color: #fff;
    display: block;
    border: 0;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-bottom: 1px solid #ecedef;
    padding: 12px 0 16px;
    font-family: "Source Code Pro", monospace;
}
.contact-form-wrap .input-group input:focus,
.contact-form-wrap .input-group textarea:focus {
    border-bottom-color: #000000;
}
.contact-form-wrap .input-group * {
    display: block;
}
.contact-form-wrap .input-submit {
    text-align: right;
}

/* ------------------------------------------------------------------ */
/* h. Portfolio styles.
/* ------------------------------------------------------------------ */
.portfolio-item-subtitle {
    font-size: 20px;
}

.portfolio-item-excerpt {
    font-family: "Source Code Pro", monospace;
}

.portfolio-item-meta {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-bottom: 60px;
    margin-bottom: 90px;
    border-bottom: 2px solid #1574f6;
}
.portfolio-item-meta p {
    margin: 0 0 15px 0;
}

.portfolio-item-link {
    color: #1574f6;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    -webkit-transition: margin 0.25s ease;
    -o-transition: margin 0.25s ease;
    transition: margin 0.25s ease;
}
.portfolio-item-link i {
    font-size: 14px;
}
.portfolio-item-link:hover,
.portfolio-item-link:active {
    opacity: 0.6;
    margin-left: 5px;
}

.view-all-cases {
    position: relative;
    padding: 80px 0;
    background-color: #f9f9fa;
}

.st-grid-2,
.view-all {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.about-wrapper .about-description .soc-links {
    margin-top: 20px;
}

.soc-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -5px;
    margin-top: 20px;
}
.soc-links li {
    margin: 0 5px;
}
.soc-links a {
    display: block;
    width: 30px;
    height: 30px;
}
.soc-links a svg {
    width: 100%;
    display: block;
    height: auto;
}
.soc-links a svg path {
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.soc-links a:hover svg path {
    fill: #1574f6;
}

.portfolio-item-link {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}
.portfolio-item-link svg {
    position: absolute;
    right: 0;
    bottom: 2px;
    display: inline-block;
    fill: #1574f6;
    width: 14px;
    height: 12px;
}

.view-all-soc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.view-all-soc a {
    margin: 5px 0;
}
.view-all-soc .portfolio-item-link {
    margin-top: 10px;
}
.view-all-soc .portfolio-item-link svg {
    display: inline-block;
    fill: #1574f6;
    width: 14px;
    height: 12px;
}
.view-all-soc .soc-links {
    margin: 5px 0;
    margin-left: -4px;
    margin-bottom: 0;
}
.view-all-soc p {
    margin: 5px 0;
}
.view-all-soc p a {
    text-decoration: underline;
}
.view-all-soc .mail-link {
    font-weight: bold;
    font-size: 18px;
    color: #333;
}
.view-all-soc .mail-link:hover {
    color: #1574f6;
}

/* ------------------------------------------------------------------ */
/* i. Footer styles.
/* ------------------------------------------------------------------ */
.footer {
    padding: 80px 0;
}
.footer-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-meta a {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
}
.footer-copyright {
    width: 400px;
    text-align: right;
    max-width: 100%;
}
.footer-copyright a {
    text-decoration: underline;
}
.footer-copyright a:hover,
.footer-copyright a :focus {
    color: #1574f6;
}
.footer-copyright p {
    margin: 0;
    margin-bottom: 5px;
}
.footer-copyright span {
    font-size: 12px;
}

/* ------------------------------------------------------------------ */
/* j. Scroll up btn styles.
/* ------------------------------------------------------------------ */
.scroll-up {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1010;
    width: 50px;
    height: 50px;
    color: #dcdcdc;
    cursor: pointer;
    border-radius: 50%;
    border: 4px solid #dcdcdc;
    visibility: hidden;
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
}
.scroll-up svg {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    width: 25px;
    display: block;
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
    fill: #dcdcdc;
    margin: 0 auto;
}
.scroll-up:hover {
    border-color: #1574f6;
}
.scroll-up:hover svg {
    fill: #1574f6;
}
.scroll-up-active {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/* ------------------------------------------------------------------ */
/* k. Project page styles.
/* ------------------------------------------------------------------ */
.pr-hero-section {
    padding-bottom: 80px;
}
.pr-hero-section .hero-description {
    margin-left: 0;
}

.projects-wrapper {
    padding: 30px 0;
}

.new-project {
    grid-row-gap: 30px;
}
.new-project__image {
    padding-bottom: 55%;
    position: relative;
    display: block;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: -webkit-transform 0.1s ease,
        -webkit-box-shadow 0.25s ease;
    transition: -webkit-transform 0.1s ease, -webkit-box-shadow 0.25s ease;
    -o-transition: transform 0.1s ease, box-shadow 0.25s ease;
    transition: transform 0.1s ease, box-shadow 0.25s ease;
    transition: transform 0.1s ease, box-shadow 0.25s ease,
        -webkit-transform 0.1s ease, -webkit-box-shadow 0.25s ease;
}
.new-project__image img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.new-project__image:before {
    content: "NEW";
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: #4c60e6;
    color: #fff;
    border: 3px solid #fff;
    border-radius: 100%;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 12px;
    position: absolute;
    top: -28px;
    right: -28px;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}
.new-project__image:hover {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.new-project__image:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}
.new-project__meta {
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 540px;
}
.new-project__date {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    color: #aeb3bb;
}
.new-project__title {
    font-size: 32px;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    margin: 10px 0;
}
.new-project__excerpt {
    font-family: "Source Code Pro", monospace;
    line-height: 1.5;
}

.st-grid-3 {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 36px;
}

.projects-grid {
    padding-top: 80px;
    padding-bottom: 50px;
}

.single-project {
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
    padding-bottom: 20px;
}
.single-project__image-wrap {
    margin-bottom: 12px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-transform 0.25s ease,
        -webkit-box-shadow 0.25s ease;
    transition: -webkit-transform 0.25s ease, -webkit-box-shadow 0.25s ease;
    -o-transition: transform 0.25s ease, box-shadow 0.25s ease;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transition: transform 0.25s ease, box-shadow 0.25s ease,
        -webkit-transform 0.25s ease, -webkit-box-shadow 0.25s ease;
    padding-bottom: 70%;
    border-radius: 3px;
    position: relative;
    display: block;
}
.single-project__image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
.single-project__title {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin: 10px 0 0 0;
    font-size: 24px;
}
.single-project:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}
.single-project:hover .single-project__title {
    color: #333;
}

/* ------------------------------------------------------------------ */
/* l. Open-project page styles.
/* ------------------------------------------------------------------ */
.hero-project-wrapper {
    padding: 50px 0 150px 0;
}
.hero-project-wrapper h1 {
    font-size: 40px;
    font-family: "Rubik", sans-serif;
}

.hero-project {
    width: 500px;
    max-width: 100%;
}
.hero-project .new-project__date {
    font-size: 14px;
}
.hero-project__excerpt {
    font-family: "Source Code Pro", monospace;
    line-height: 1.5;
}
.hero-project ul {
    padding-left: 15px;
    line-height: 1.5;
}
.hero-project__link svg {
    width: 12px;
    height: 12px;
    display: inline-block;
    -webkit-transition: fill 0.25s ease;
    -o-transition: fill 0.25s ease;
    transition: fill 0.25s ease;
}
.hero-project__link:hover svg {
    fill: #1574f6;
}

.project-preview-wrap {
    background-color: #f9f9fa;
    padding: 50px 0;
}

.project-image-wrap {
    max-width: 1460px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: -120px;
    margin-bottom: 60px;
    font-size: 18px;
    position: relative;
}
.project-image-wrap img {
    z-index: 999;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.project-image-wrap .tap-to-view {
    position: absolute;
    top: -40px;
    left: 0;
    visibility: hidden;
    opacity: 0;
    color: #ffffff;
    z-index: 998;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    margin-top: 50px;
    color: #000000;
    text-align: center;
    width: 100%;
}
.project-image-wrap .tap-to-view i {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.project-image-wrap .tap-to-view-active {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

/* typography and content styles */
.project-content {
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
}
.project-content img {
    max-width: 100%;
}
.project-content p {
    line-height: 1.5;
}
.project-content .tight-content {
    max-width: 630px;
    margin: 0 auto;
}
.project-content .tight-content img {
    display: block;
    margin: 0 auto;
}
.project-content h1,
.project-content h2,
.project-content h3,
.project-content h4,
.project-content h5,
.project-content h6 {
    font-family: "Rubik", sans-serif;
    margin: 50px 0 25px 0;
}
.project-content h2 {
    font-size: 28px;
}
.project-content h3 {
    font-size: 26px;
}
.project-content h4 {
    font-size: 24px;
}
.project-content h5 {
    font-size: 22px;
}
.project-content h6 {
    font-size: 20px;
}
.project-content .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.project-content .video iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
.project-content button {
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 800;
    padding: 12px;
    border-radius: 40px;
    outline: none;
    border: none;
    background-color: #1574f6;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    -webkit-transition: background-color 0.25s ease;
    -o-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
.project-content button:hover,
.project-content button:focus {
    background-color: #085cd0;
}
.project-content blockquote {
    font-size: 20px;
    margin: 64px 0;
    padding: 10px 0 10px 32px;
    border-left: 2px solid #333;
}
.project-content ul,
.project-content ol {
    line-height: 1.65;
}
.project-content hr {
    border: 0;
    height: 2px;
    background-color: #ecedef;
}
.project-content strong {
    font-weight: bold;
}
.project-content em {
    font-style: italic;
}
.project-content a {
    text-decoration: underline;
}
.project-content .table-wrap {
    display: block;
    width: 100%;
    overflow-x: auto;
}
.project-content .table-wrap table {
    font-family: "Source Code Pro", monospace;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 30px auto;
    border: 2px solid #333;
}
.project-content .table-wrap table thead {
    color: #fff;
    text-align: left;
    font-weight: 700;
}
.project-content .table-wrap table thead tr {
    background: #202224;
}
.project-content .table-wrap table thead th {
    padding: 20px;
}
.project-content .table-wrap table tr {
    background-color: #fff;
}
.project-content .table-wrap table tr td {
    padding: 20px;
}
.project-content .table-wrap table tr:nth-child(2n) {
    background: #f4f5f6;
}

.prev-next-btn {
    grid-row-gap: 30px;
    display: -ms-grid;
    display: grid;
}
.prev-next-btn a {
    padding: 32px 30px;
    border-radius: 8px;
    position: relative;
    font-size: 22px;
    background-color: #ffffff;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    -webkit-transition: 0.25s ease;
    -o-transition: 0.25s ease;
    transition: 0.25s ease;
}
.prev-next-btn a:before {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    color: #aeb3bb;
    letter-spacing: 0.5;
    margin-bottom: 10px;
}
.prev-next-btn a svg {
    fill: #aeb3bb;
    position: absolute;
    top: calc(50% - 10px);
    width: 20px;
    height: 20px;
}
.prev-next-btn .prev-button {
    text-align: right;
    padding-left: 50px;
}
.prev-next-btn .prev-button svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 29px;
}
.prev-next-btn .prev-button:before {
    content: "Предыдущая работа";
}
.prev-next-btn .next-button {
    text-align: left;
    padding-right: 50px;
}
.prev-next-btn .next-button svg {
    right: 29px;
}
.prev-next-btn .next-button:before {
    content: "Следующая работа";
}

.fancy-images {
    display: none;
}

/* 404.html */
