/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .st-grid-2 {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .pr-hero-section {
        padding-bottom: 0;
    }
}

/**/
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .footer-copyright p {
        font-size: 14px;
    }
    .portfolio-item-title a {
        font-size: 18px;
    }
    .portfolio-item-subtitle {
        font-size: 18px;
    }
    .portfolio-item-meta {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 30px;
        margin-bottom: 60px;
    }
    .footer-meta {
        display: block;
    }
    .footer-copyright {
        margin-top: 15px;
        text-align: left;
    }
    .scroll-up {
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;
    }
    /* projects page */
    .new-project__image:before {
        width: 46px;
        height: 46px;
        font-size: 10px;
        top: -23px;
        right: 10px;
    }
    .single-project:last-of-type {
        border-bottom: 2px solid #333;
    }
    /* open project page */
    .hero-project-wrapper h1 {
        font-size: 32px;
    }
    .project-content .content-slider .owl-stage-outer {
        overflow: visible;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .modal-form {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        font-size: 30px;
    }
}
