#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  .bar_wrapper {
    height: 150px;
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
  }
  .bar {
    position: absolute;
    bottom: 0;
    margin-top: auto;
    height: 2px;
    width: 100%;
    background: var(--primary);
  }
  .circle {
    position: absolute;
    top: -30px;
    margin: 0;
    height: 60px;
    width: 60px;
    left: 0;
    background: var(--primary);
    border-radius: 20%;
    -webkit-animation: move 5s infinite;
    animation: move 5s infinite;
  }
  p {
    position: absolute;
    bottom: 3px;
    margin: 0;
    right: 33px;
    text-transform: uppercase;
    color: #fff;
    font-family: helvetica, sans-serif;
    font-weight: bold;
  }
}

@keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 150px);
    -webkit-transform: rotate(360deg);
    width: 150px;
    height: 150px;
  }
  75% {
    left: calc(100% - 150px);
    -webkit-transform: rotate(360deg);
    width: 150px;
    height: 150px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 150px);
    -webkit-transform: rotate(360deg);
    width: 150px;
    height: 150px;
  }
  75% {
    left: calc(100% - 150px);
    -webkit-transform: rotate(360deg);
    width: 150px;
    height: 150px;
  }
  100% {
    left: 0;
  }
}
