html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
main {
    display: block;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
a {
    background-color: transparent;
}
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
b,
strong {
    font-weight: bolder;
}
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
img {
    border-style: none;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
    -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText;
}
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
progress {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
}
[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
details {
    display: block;
}
summary {
    display: list-item;
}
template {
    display: none;
}
[hidden] {
    display: none;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -30%, 0);
        transform: translate3d(0, -30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(30%, 0, 0);
        transform: translate3d(30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 30%, 0);
        transform: translate3d(0, 30%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-30%, 0, 0);
        transform: translate3d(-30%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.wrapper {
    position: relative;
    width: 1200px;
    padding: 0 30px;
    max-width: 100%;
    margin: 0 auto;
}

.hero-title {
    width: 570px;
    max-width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0);
    -webkit-animation: fadeInRight 0.7s ease;
    animation: fadeInRight 0.7s ease;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.hero-title h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 52px;
    margin: 0;
}
.hero-section .write-me-btn {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    -webkit-animation: fadeInUp 0.7s ease;
    animation: fadeInUp 0.7s ease;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.about-section {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
    -webkit-animation: fadeInUp 0.7s ease;
    animation: fadeInUp 0.7s ease;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.hero-description {
    margin-left: auto;
    font-size: 20px;
    width: 520px;
    max-width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    -webkit-animation: fadeInLeft 0.7s ease;
    animation: fadeInLeft 0.7s ease;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.hero-description a {
    color: #333;
    text-decoration: underline;
}
.hero-description a:focus,
.hero-description a:hover {
    color: #1574f6;
}
.hero-section {
    padding: 50px 0 150px;
}
.hero-section .write-me-btn {
    display: none;
}
.hero-section .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-image: url("../images/crope-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
    z-index: -1;
}
.hero-section .hero-image:after {
    content: "";
    background: -o-linear-gradient(bottom, #fff 0, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #fff),
        to(rgba(255, 255, 255, 0))
    );
    background: linear-gradient(to top, #fff 0, rgba(255, 255, 255, 0) 100%);
    display: block;
    height: 30%;
    left: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.subtitle {
    font-size: 20px;
    font-style: italic;
}
.typed-cursor {
    font-style: italic;
}
.about-section {
    padding-bottom: 120px;
}
.about-section h2 {
    font-size: 30px;
}
.about-section img,
.about-section .gatsby-image-wrapper {
    width: 500px;
    max-width: 100%;
}
.about-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 520px;
    grid-template-columns: 1fr 520px;
    grid-column-gap: 30px;
    font-size: 18px;
}
.about-wrapper a {
    color: #333;
    text-decoration: underline;
}
.about-wrapper a:focus,
.about-wrapper a:hover {
    color: #1574f6;
}
.about-wrapper .about-description {
    line-height: 1.4;
}
.about-wrapper .about-description p,
.about-wrapper .about-description ul {
    margin: 0;
}
.about-wrapper h3 {
    margin-bottom: 5px;
}
.about-wrapper ul {
    padding-left: 20px;
}
.about-wrapper .soc-links {
    padding: 0;
}
.soc-links {
    padding: 0;
    list-style-type: none;
    font-size: 28px;
}
.soc-links li {
    display: inline;
}
.modal-wrap {
    opacity: 0;
    -webkit-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}

@media only screen and (max-width: 992px) {
    /* .logotype {
        width: 60px;
    } */
    .menu-toggle {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .hero-description,
    .hero-title {
        width: 380px;
    }
    .hero-section .write-me-btn {
        display: block;
    }
    .hero-title h1 {
        font-size: 36px;
    }
    .footer-meta p,
    .hero-description {
        margin-left: 0;
        font-size: 16px;
    }
    .header-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        overflow-y: auto;
        z-index: 1000;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        position: fixed;
        background-color: #fff;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        text-align: center;
        opacity: 0;
    }
    .header-menu ul {
        padding: 100px 0;
        font-size: 24px;
        position: relative;
        top: 10px;
        -webkit-transition: top 0.5s ease;
        -o-transition: top 0.5s ease;
        transition: top 0.5s ease;
    }
    .header-menu ul li {
        margin: 20px 0;
        display: block;
    }
    .header-menu .write-me-btn {
        display: block;
        margin: 0;
        position: relative;
        right: 0;
    }
    .header-wrapper .write-me-btn {
        display: none;
    }
    .header-wrapper .header-menu .write-me-btn {
        display: block;
    }
    .hero-section {
        padding: 50px 0 80px;
    }
    .about-wrapper {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: minmax(250px, 500px);
        grid-template-columns: minmax(250px, 500px);
    }
    .about-wrapper .about-description {
        margin-top: 15px;
    }
    .about-section {
        padding-bottom: 30px;
    }
    .about-description {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    /* .header-wrapper {
        height: 100px;
    } */
}
@media only screen and (max-width: 480px) {
    .hero-title h1 {
        font-size: 30px;
    }
    .logotype {
        font-size: 20px;
    }
}
@media only screen and (max-width: 320px) {
    .logotype {
        left: 15px;
    }
    .menu-toggle {
        right: 15px;
    }
    .wrapper {
        padding: 0 15px;
    }
}
