:root {
  --chakra-colors-gray-100: #f4f4f5;
  --chakra-colors-gray-200: #e4e4e7;
  --chakra-colors-gray-300: #d4d4d8;
  --chakra-colors-gray-400: #a1a1aa;
  --chakra-colors-gray-500: #71717a;
  --chakra-colors-gray-600: #52525b;
  --chakra-colors-gray-700: #3f3f46;
  --chakra-colors-gray-800: #27272a;
  --chakra-colors-gray-900: #18181b;
  --chakra-colors-red-50: #fef2f2;
  --chakra-colors-red-100: #fee2e2;
  --chakra-colors-red-200: #fecaca;
  --chakra-colors-red-300: #fca5a5;
  --chakra-colors-red-400: #f87171;
  --chakra-colors-red-500: #ef4444;
  --chakra-colors-red-600: #dc2626;
  --chakra-colors-red-700: #b91c1c;
  --chakra-colors-red-800: #991b1b;
  --chakra-colors-red-900: #7f1d1d;
  --chakra-colors-orange-50: #fff7ed;
  --chakra-colors-orange-100: #ffedd5;
  --chakra-colors-orange-200: #fed7aa;
  --chakra-colors-orange-300: #fdba74;
  --chakra-colors-orange-400: #fb923c;
  --chakra-colors-orange-500: #f97316;
  --chakra-colors-orange-600: #ea580c;
  --chakra-colors-orange-700: #c2410c;
  --chakra-colors-orange-800: #9a3412;
  --chakra-colors-orange-900: #7c2d12;
  --chakra-colors-yellow-50: #fefce8;
  --chakra-colors-yellow-100: #fef9c3;
  --chakra-colors-yellow-200: #fef08a;
  --chakra-colors-yellow-300: #fde047;
  --chakra-colors-yellow-400: #facc15;
  --chakra-colors-yellow-500: #eab308;
  --chakra-colors-yellow-600: #ca8a04;
  --chakra-colors-yellow-700: #a16207;
  --chakra-colors-yellow-800: #854d0e;
  --chakra-colors-yellow-900: #713f12;
  --chakra-colors-green-50: #f0fdf4;
  --chakra-colors-green-100: #dcfce7;
  --chakra-colors-green-200: #bbf7d0;
  --chakra-colors-green-300: #86efac;
  --chakra-colors-green-400: #4ade80;
  --chakra-colors-green-500: #22c55e;
  --chakra-colors-green-600: #16a34a;
  --chakra-colors-green-700: #15803d;
  --chakra-colors-green-800: #166534;
  --chakra-colors-green-900: #14532d;
  --chakra-colors-teal-50: #f0fdfa;
  --chakra-colors-teal-100: #ccfbf1;
  --chakra-colors-teal-200: #99f6e4;
  --chakra-colors-teal-300: #5eead4;
  --chakra-colors-teal-400: #2dd4bf;
  --chakra-colors-teal-500: #14b8a6;
  --chakra-colors-teal-600: #0d9488;
  --chakra-colors-teal-700: #0f766e;
  --chakra-colors-teal-800: #115e59;
  --chakra-colors-teal-900: #134e4a;
  --chakra-colors-blue-50: #eff6ff;
  --chakra-colors-blue-100: #dbeafe;
  --chakra-colors-blue-200: #bfdbfe;
  --chakra-colors-blue-300: #93c5fd;
  --chakra-colors-blue-400: #60a5fa;
  --chakra-colors-blue-500: #3b82f6;
  --chakra-colors-blue-600: #2563eb;
  --chakra-colors-blue-700: #1d4ed8;
  --chakra-colors-blue-800: #1e40af;
  --chakra-colors-blue-900: #1e3a8a;
  --chakra-colors-cyan-50: #ecfeff;
  --chakra-colors-cyan-100: #cffafe;
  --chakra-colors-cyan-200: #a5f3fc;
  --chakra-colors-cyan-300: #67e8f9;
  --chakra-colors-cyan-400: #22d3ee;
  --chakra-colors-cyan-500: #06b6d4;
  --chakra-colors-cyan-600: #0891b2;
  --chakra-colors-cyan-700: #0e7490;
  --chakra-colors-cyan-800: #155e75;
  --chakra-colors-cyan-900: #164e63;
  --chakra-colors-purple-50: #faf5ff;
  --chakra-colors-purple-100: #f3e8ff;
  --chakra-colors-purple-200: #e9d5ff;
  --chakra-colors-purple-300: #d8b4fe;
  --chakra-colors-purple-400: #c084fc;
  --chakra-colors-purple-500: #a855f7;
  --chakra-colors-purple-600: #9333ea;
  --chakra-colors-purple-700: #7e22ce;
  --chakra-colors-purple-800: #6b21a8;
  --chakra-colors-purple-900: #581c87;
  --chakra-colors-pink-50: #fdf2f8;
  --chakra-colors-pink-100: #fce7f3;
  --chakra-colors-pink-200: #fbcfe8;
  --chakra-colors-pink-300: #f9a8d4;
  --chakra-colors-pink-400: #f472b6;
  --chakra-colors-pink-500: #ec4899;
  --chakra-colors-pink-600: #db2777;
  --chakra-colors-pink-700: #be185d;
  --chakra-colors-pink-800: #9d174d;
  --chakra-colors-pink-900: #831843;
  --chakra-colors-linkedin-50: #e8f4f9;
  --chakra-colors-linkedin-100: #cfedfb;
  --chakra-colors-linkedin-200: #9bdaf3;
  --chakra-colors-linkedin-300: #68c7ec;
  --chakra-colors-linkedin-400: #34b3e4;
  --chakra-colors-linkedin-500: #00a0dc;
  --chakra-colors-linkedin-600: #008cc9;
  --chakra-colors-linkedin-700: #0077b5;
  --chakra-colors-linkedin-800: #005e93;
  --chakra-colors-linkedin-900: #004471;
  --chakra-colors-facebook-50: #e8f4f9;
  --chakra-colors-facebook-100: #d9dee9;
  --chakra-colors-facebook-200: #b7c2da;
  --chakra-colors-facebook-300: #6482c0;
  --chakra-colors-facebook-400: #4267b2;
  --chakra-colors-facebook-500: #385898;
  --chakra-colors-facebook-600: #314e89;
  --chakra-colors-facebook-700: #29487d;
  --chakra-colors-facebook-800: #223b67;
  --chakra-colors-facebook-900: #1e355b;
  --chakra-colors-messenger-50: #d0e6ff;
  --chakra-colors-messenger-100: #b9daff;
  --chakra-colors-messenger-200: #a2cdff;
  --chakra-colors-messenger-300: #7ab8ff;
  --chakra-colors-messenger-400: #2e90ff;
  --chakra-colors-messenger-500: #0078ff;
  --chakra-colors-messenger-600: #0063d1;
  --chakra-colors-messenger-700: #0052ac;
  --chakra-colors-messenger-800: #003c7e;
  --chakra-colors-messenger-900: #002c5c;
  --chakra-colors-whatsapp-50: #dffeec;
  --chakra-colors-whatsapp-100: #b9f5d0;
  --chakra-colors-whatsapp-200: #90edb3;
  --chakra-colors-whatsapp-300: #65e495;
  --chakra-colors-whatsapp-400: #3cdd78;
  --chakra-colors-whatsapp-500: #22c35e;
  --chakra-colors-whatsapp-600: #179848;
  --chakra-colors-whatsapp-700: #0c6c33;
  --chakra-colors-whatsapp-800: #01421c;
  --chakra-colors-whatsapp-900: #001803;
  --chakra-colors-twitter-50: #e5f4fd;
  --chakra-colors-twitter-100: #c8e9fb;
  --chakra-colors-twitter-200: #a8dcfa;
  --chakra-colors-twitter-300: #83cdf7;
  --chakra-colors-twitter-400: #57bbf5;
  --chakra-colors-twitter-500: #1da1f2;
  --chakra-colors-twitter-600: #1a94da;
  --chakra-colors-twitter-700: #1681bf;
  --chakra-colors-twitter-800: #136b9e;
  --chakra-colors-twitter-900: #0d4d71;
  --chakra-colors-telegram-50: #e3f2f9;
  --chakra-colors-telegram-100: #c5e4f3;
  --chakra-colors-telegram-200: #a2d4ec;
  --chakra-colors-telegram-300: #7ac1e4;
  --chakra-colors-telegram-400: #47a9da;
  --chakra-colors-telegram-500: #0088cc;
  --chakra-colors-telegram-600: #007ab8;
  --chakra-colors-telegram-700: #006ba1;
  --chakra-colors-telegram-800: #005885;
  --chakra-colors-telegram-900: #003f5e;
  --chakra-colors-rose-50: #fff1f2;
  --chakra-colors-rose-100: #ffe4e6;
  --chakra-colors-rose-200: #fecdd3;
  --chakra-colors-rose-300: #fda4af;
  --chakra-colors-rose-400: #fb7185;
  --chakra-colors-rose-500: #f43f5e;
  --chakra-colors-rose-600: #e11d48;
  --chakra-colors-rose-700: #be123c;
  --chakra-colors-rose-800: #9f1239;
  --chakra-colors-rose-900: #881337;
  --chakra-colors-fuchsia-50: #fdf4ff;
  --chakra-colors-fuchsia-100: #fae8ff;
  --chakra-colors-fuchsia-200: #f5d0fe;
  --chakra-colors-fuchsia-300: #f0abfc;
  --chakra-colors-fuchsia-400: #e879f9;
  --chakra-colors-fuchsia-500: #d946ef;
  --chakra-colors-fuchsia-600: #c026d3;
  --chakra-colors-fuchsia-700: #a21caf;
  --chakra-colors-fuchsia-800: #86198f;
  --chakra-colors-fuchsia-900: #701a75;
  --chakra-colors-violet-50: #f5f3ff;
  --chakra-colors-violet-100: #ede9fe;
  --chakra-colors-violet-200: #ddd6fe;
  --chakra-colors-violet-300: #c4b5fd;
  --chakra-colors-violet-400: #a78bfa;
  --chakra-colors-violet-500: #8b5cf6;
  --chakra-colors-violet-600: #7c3aed;
  --chakra-colors-violet-700: #6d28d9;
  --chakra-colors-violet-800: #5b21b6;
  --chakra-colors-violet-900: #4c1d95;
  --chakra-colors-indigo-50: #eef2ff;
  --chakra-colors-indigo-100: #e0e7ff;
  --chakra-colors-indigo-200: #c7d2fe;
  --chakra-colors-indigo-300: #a5b4fc;
  --chakra-colors-indigo-400: #818cf8;
  --chakra-colors-indigo-500: #6366f1;
  --chakra-colors-indigo-600: #4f46e5;
  --chakra-colors-indigo-700: #4338ca;
  --chakra-colors-indigo-800: #3730a3;
  --chakra-colors-indigo-900: #312e81;
  --chakra-colors-lightBlue-50: #f0f9ff;
  --chakra-colors-lightBlue-100: #e0f2fe;
  --chakra-colors-lightBlue-200: #bae6fd;
  --chakra-colors-lightBlue-300: #7dd3fc;
  --chakra-colors-lightBlue-400: #38bdf8;
  --chakra-colors-lightBlue-500: #0ea5e9;
  --chakra-colors-lightBlue-600: #0284c7;
  --chakra-colors-lightBlue-700: #0369a1;
  --chakra-colors-lightBlue-800: #075985;
  --chakra-colors-lightBlue-900: #0c4a6e;
  --chakra-colors-emerald-50: #ecfdf5;
  --chakra-colors-emerald-100: #d1fae5;
  --chakra-colors-emerald-200: #a7f3d0;
  --chakra-colors-emerald-300: #6ee7b7;
  --chakra-colors-emerald-400: #34d399;
  --chakra-colors-emerald-500: #10b981;
  --chakra-colors-emerald-600: #059669;
  --chakra-colors-emerald-700: #047857;
  --chakra-colors-emerald-800: #065f46;
  --chakra-colors-emerald-900: #064e3b;
  --chakra-colors-lime-50: #f7fee7;
  --chakra-colors-lime-100: #ecfccb;
  --chakra-colors-lime-200: #d9f99d;
  --chakra-colors-lime-300: #bef264;
  --chakra-colors-lime-400: #a3e635;
  --chakra-colors-lime-500: #84cc16;
  --chakra-colors-lime-600: #65a30d;
  --chakra-colors-lime-700: #4d7c0f;
  --chakra-colors-lime-800: #3f6212;
  --chakra-colors-lime-900: #365314;
  --chakra-colors-amber-50: #fffbeb;
  --chakra-colors-amber-100: #fef3c7;
  --chakra-colors-amber-200: #fde68a;
  --chakra-colors-amber-300: #fcd34d;
  --chakra-colors-amber-400: #fbbf24;
  --chakra-colors-amber-500: #f59e0b;
  --chakra-colors-amber-600: #d97706;
  --chakra-colors-amber-700: #b45309;
  --chakra-colors-amber-800: #92400e;
  --chakra-colors-amber-900: #78350f;
  --chakra-colors-warmGray-50: #fafaf9;
  --chakra-colors-warmGray-100: #f5f5f4;
  --chakra-colors-warmGray-200: #e7e5e4;
  --chakra-colors-warmGray-300: #d6d3d1;
  --chakra-colors-warmGray-400: #a8a29e;
  --chakra-colors-warmGray-500: #78716c;
  --chakra-colors-warmGray-600: #57534e;
  --chakra-colors-warmGray-700: #44403c;
  --chakra-colors-warmGray-800: #292524;
  --chakra-colors-warmGray-900: #1c1917;
  --chakra-colors-trueGray-50: #fafafa;
  --chakra-colors-trueGray-100: #f5f5f5;
  --chakra-colors-trueGray-200: #e5e5e5;
  --chakra-colors-trueGray-300: #d4d4d4;
  --chakra-colors-trueGray-400: #a3a3a3;
  --chakra-colors-trueGray-500: #737373;
  --chakra-colors-trueGray-600: #525252;
  --chakra-colors-trueGray-700: #404040;
  --chakra-colors-trueGray-800: #262626;
  --chakra-colors-trueGray-900: #171717;
  --chakra-colors-coolGray-50: #f9fafb;
  --chakra-colors-coolGray-100: #f3f4f6;
  --chakra-colors-coolGray-200: #e5e7eb;
  --chakra-colors-coolGray-300: #d1d5db;
  --chakra-colors-coolGray-400: #9ca3af;
  --chakra-colors-coolGray-500: #6b7280;
  --chakra-colors-coolGray-600: #4b5563;
  --chakra-colors-coolGray-700: #374151;
  --chakra-colors-coolGray-800: #1f2937;
  --chakra-colors-coolGray-900: #111827;
  --chakra-colors-blueGray-50: #f8fafc;
  --chakra-colors-blueGray-100: #f1f5f9;
  --chakra-colors-blueGray-200: #e2e8f0;
  --chakra-colors-blueGray-300: #cbd5e1;
  --chakra-colors-blueGray-400: #94a3b8;
  --chakra-colors-blueGray-500: #64748b;
  --chakra-colors-blueGray-600: #475569;
  --chakra-colors-blueGray-700: #334155;
  --chakra-colors-blueGray-800: #1e293b;
  --chakra-colors-blueGray-900: #0f172a;
  --chakra-colors-blueGray-950: #0b111f;
}
