// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––
/* equeal width for all table cell */
// table {
//   table-layout: fixed;
// }

table {
  border-spacing: 0;
  overflow-x: auto;
  text-align: left;
  width: 100%;
  display: table;
  overflow-x: initial;
  border: 2px solid #202224;
}
thead {
  background: #202224;
  color: #fff;
  text-align: left;
  font-weight: 700;
}

tr {
  &:nth-child(2n) {
    background: #f4f5f6;
  }
}

td,
th {
  // border-bottom: 0.1rem solid #000000;
  padding: 1rem;
  // &:first-child {
  //   padding-left: 0;
  // }

  // &:last-child {
  //   padding-right: 0;
  // }
}
