:root {
  // fonts
  --body-font-family: "OpenSans", sans-serif;
  --header-font-family: "Merriweather", sans-serif;
  --additional-font: "SourceCodePro", sans-serif;

  --h1-font-size: 2.5rem;
  --h2-font-size: 1.9rem;
  --h3-font-size: 1.6rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;

  // sizes
  --header-height: 60px;
  --wrapper: 980px;
  --section-space: 80px;
  --gap: 30px;
  --cardHeight: 250px;

  // styles
  --border-radius: 7px;
  --transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  // colors
  // --primary: ;
  // --secondary: ;
  --black: #333;
  --text-v1: #4b5866;
  --primary: #056fda;
  --primary-dark: #0353A4;
  --primary-light: #047df5;
  --green-100: #D8F3DC;
  --green-200: #B7E4C7;
  --green-300: #95D5B2;
  --green-400: #74C69D;
  --green-500: #52B788;
  --green-600: #40916C;
  --green-700: #2D6A4F;
  --green-800: #1B4332;
  --green-900: #081C15;
  --blue-50: #1085fa;
  --blue-100: #047df5;
  --blue-200: #0377eb;
  --blue-300: #056fda;
  --blue-400: #0466C8;
  --blue-500: #0353A4;
  --blue-600: #023E7D;
  --blue-700: #002855;
  --blue-800: #001845;
  --blue-900: #001233;
  --gray-500: #33415C;
  --gray-400: #5C677D;
  --gray-300: #7D8597;
  --gray-200: #979DAC;
  --gray-100: #a7aec0;
  --gray-50: #d4d9e4;
  --gray-30: #e2e8f0;
  --gray-10: #f1f5f9;
  --blue: #0e90db;
  --blue-dark: #1489cc;
  --blue-light: #1c9de7;
  --azure: #027fff;
  --azure-dark: #0074e9;
  --azure-light: #389afc;
  --indigo: #622aff;
  --indigo-dark: #5523dd;
  --indigo-light: #7242f8;
  --pink: #e94256;
  --pink-dark: #d33a4b;
  --pink-light: #f34f63;
  --green: #0b9e43;
  --green-dark: #0a8d3c;
  --green-light: #0ca747;

  // gradients
  --slight-ocean: linear-gradient(to top, #3f2b96, #a8c0ff);
  --wedding-day: linear-gradient(to top, #ff0080, #ff8c00, #40e0d0);
  --pun-yeta: linear-gradient(to top, #ef8e38, #108dc7);
  --apple-dark: radial-gradient(circle, #2e1d7d 0%, #050939 80%);

  // box-shadow
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
