:root {
  // fonts
  --body-font-family: "OpenSans", sans-serif;
  --header-font-family: "Merriweather", sans-serif;
  --additional-font: "SourceCodePro", sans-serif;

  --h1-font-size: 2.5rem;
  --h2-font-size: 1.9rem;
  --h3-font-size: 1.6rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1.125rem;
  --h6-font-size: 1rem;

  // sizes
  --header-height: 60px;
  --wrapper: 980px;
  --section-space: 80px;
  --gap: 30px;
  --cardHeight: 250px;

  // styles
  --border-radius: 7px;
  --transition: 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);

  // colors
  --black: #333;
  --text-v1: #4b5866;
  --text-v2: #29323c;
  --azure: #027fff;
  --azure-dark: #0074e9;
  --azure-light: #389afc;
  // --azure: #01a78b;
  // --azure-dark: #03b395;
  // --azure-light: #08b99c;
  --blue: #0e90db;
  --blue-dark: #1489cc;
  --blue-light: #1c9de7;
  --indigo: #622aff;
  --indigo-dark: #5523dd;
  --indigo-light: #7242f8;
  --pink: #e94256;
  --pink-dark: #d33a4b;
  --pink-light: #f34f63;
  --green: #0b9e43;
  --green-dark: #0a8d3c;
  --green-light: #0ca747;
  --colors-gray-100: #f7f7f8;
  --colors-gray-150: #f5f5f7;
  --colors-gray-200: #e4e4e7;
  --colors-gray-300: #d4d4d8;

  // gradients
  --slight-ocean: linear-gradient(to top, #3f2b96, #a8c0ff);
  --wedding-day: linear-gradient(to top, #ff0080, #ff8c00, #40e0d0);
  --pun-yeta: linear-gradient(to top, #ef8e38, #108dc7);
  --apple-dark: radial-gradient(circle, #2e1d7d 0%, #050939 80%);

  // box-shadow
  --shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-base: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
